span {
	font-size: 16px;
	font-weight: 400;
	color: #464F60;
}

hr {
	width: 100%;
	margin: 18px 0px;
	color: #E9EDF5;
}

.interact_buttons{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.exit {
	color: #675C53;
	background-color: #F2F2F2;
	font-size: 16px;
	font-weight: 400;
	margin-right: 14px;
}

.agree{
	font-size: 16px;
	font-weight: 400;
	background-color: #2196f3;
	color: white;
}