<section [ngClass]="{'dark-theme': isDarkTheme | async}" >
    <div class="header">
        <mat-card>
            <div>
                <img class="card-img-top" src="/assets/mini.jpg">
                <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">Tema Escuro</mat-slide-toggle>
            </div>
            <div>
                <h1>Termo de Coleta</h1>
                <input type="text" disabled value="{{ dataAtual | date:'dd/MM/yyyy'}}" class="input_header"/>
            </div>
            <div>
                <h2>DIEGO APARECIDO MUNIZ DOS SANTOS</h2>
                <mat-form-field appearance="outline" value = 'option' style="min-width: 30%;">
                 <mat-label>Local</mat-label> 
                 <mat-select>
                    <mat-option value="ESCRITÓRIO	SECCIONAL BELO HORIZONTE">
                        ESCRITÓRIO SECCIONAL BELO HORIZONTE
                    </mat-option>
                    <mat-option value='COORDENADORIA REGIONAL PATOS DE MINAS'>
                        COORDENADORIA REGIONAL PATOS DE MINAS
                      </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
						<div class="menu_text">
							<div
							 *ngFor="let menu of tabs" (click)="mudandoTela(menu)" 
							 [ngClass]="{'isSelected': menu.isClicked ? true : false, 'notSelected': !menu.isClicked ? true : false}"
							>
								<span *ngIf="!menu.isMenu">{{menu.nameTab}}</span>
								<span *ngIf="menu.isMenu" [matMenuTriggerFor]="open">{{menu.nameTab}}</span>
								 <mat-menu #open="matMenu">
									<button mat-menu-item  (click)="metodoDeReferencia('metododereferencia')">Método de Referência</button>
									<button mat-menu-item></button>
									<button mat-menu-item></button>
								 </mat-menu>
							</div>
							<span class="iii"></span>
						</div>
        </mat-card>
    </div>
		<main class="main">
			<div [ngSwitch]="clickedTab">
				<aside  class="example-sidenav-content" *ngSwitchCase="'Termo de Coleta'">
					<h1>Termo de coleta</h1>
					<app-coordenadoria></app-coordenadoria>
				</aside>
				<aside  class="example-sidenav-content" *ngSwitchCase="'Resultado da Análise'">
					1
				</aside>
				<aside  class="example-sidenav-content" *ngSwitchCase="'Registro de Amostra'">
					<h1>Registro de Amostra</h1>
					<app-registro-amostra></app-registro-amostra>
				</aside>
				<aside  class="example-sidenav-content" *ngSwitchCase="'Relátorio de Ensaio'">
					3
				</aside>
				<aside  class="example-sidenav-content" *ngSwitchCase="'metododereferencia'">


					<h1>Cadastro - Método de Referência</h1>

					<app-metodo-referencia></app-metodo-referencia>
					
				</aside>
			</div>
		</main>
</section>






    
    
   

    
  
    


       
        
        
    


    

    


        


          
           
                  
           
           
