<form [formGroup]="form" name="myForm" class="example-form breakpoint">
    <div class="container_inputs" >
    
    
     <div class="div100">
        <div class="div30">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Método de Referência</mat-label>        
                <input matInput formControlName="nome" [readonly]="visualizar">   
                <mat-error *ngIf="validar('nome')">Campo obrigatório</mat-error>            
            </mat-form-field>
       </div>

       <div class="div30">
        <div class="text">
         <mat-form-field appearance="fill" style="width:100%">
             
          
            <mat-label>Descrição</mat-label>

            
            

            <textarea matInput formControlName="descricao" style="height:10px;" rows="1" [readonly]="visualizar"></textarea>

            <mat-error *ngIf="validar('descricao')">Campo obrigatório</mat-error>
         </mat-form-field>
         
        </div>
        
        </div>
     
        <div class="div30">

            <div style="display: block">
                <p style="margin-left:25px"  class="radioLabel">Situação</p>
                <div style="display: flex;align-items: center;">
                    <mat-radio-group [disabled]="visualizar" formControlName="situacao" aria-label="Selecione uma opção" class="padding-bottom-20" style="width: 30%;margin: 10px 0px 10px 15px; padding: 1%;" color="primary" >
                        <mat-radio-button value="true" class="padding-rigth-"  class="radioLabel" >Ativo</mat-radio-button>
                      <div class="radio">
                        <mat-radio-button value="false" checked  class="radioLabel">Inativo</mat-radio-button>                                         
                      </div>
                    </mat-radio-group>
                </div>
          </div>
        </div>
     </div>
    </div>
</form>
    <hr>
    <div style="display: flex; justify-content: flex-end;">
        <button mat-flat-button color="primary" class="button" type="button" style="margin: 20px 0px ;" (click)="storeData()">Salvar</button>
    </div>