<form [formGroup]="appForm" name="myForm" class="example-form">
    <div class="container_inputs">
      <div class="u" style="display: flex;align-items: center;justify-content: space-between;">
        
        <div class="div100">
         
         <div class="div40">
          <mat-form-field appearance="fill" class="inputFieldMed mat-form-field-fiscalizado" style="width: 50%;display: inline-block;">
              <mat-label>Método de Referência</mat-label>
              <input type="text" matInput name="nomefantasia" autocomplete="off">
          </mat-form-field>
        </div>
          <div class="div30">
          <div class="ajuste">
          <mat-form-field appearance="fill" class="inputFieldMed mat-form-field-fiscalizado" style="width: 50%;display: inline-block;">
            <mat-label>Situação</mat-label>
            <mat-select>
                <mat-option >
                  [Todos]
                </mat-option>
                <mat-option >
                  Ativo
                </mat-option>
                <mat-option >
                  Inativo
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        </div>
      </div>
      </div>
    </div>
  
    <div class="btn">
    <div style="display: inline-block; justify-content: flex-end;">
      <button mat-flat-button color="primary" class="button" type="button" style="margin: 20px 0px ;">Pesquisar</button>
    </div>
  
   <div class="limpar">
    <div style="display: inline-block; justify-content: flex-end;">
      <button mat-flat-button color="primary" class="button" type="button" style="margin: 20px 0px ;">Limpar</button>  
    </div>
    </div>
  
   <div class="novo">
    <div style="display: inline-block; justify-content: flex-end;">
      <button mat-flat-button color="primary" class="button" type="button" style="margin: 20px 0px ;">Novo</button>  
    </div>
   </div>
  
   
   <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let pesquisar"> {{pesquisar.descricao}} </td>
    
    <ng-container matColumnDef="situacao">
      <th mat-header-cell *matHeaderCellDef> Situação </th>
      <td mat-cell *matCellDef="let pesquisar"> {{pesquisar.situacao}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  
  </div>
  <div class="mat-elevation-z8 container">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">icones </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nomeMetodoReferencia">
        <th mat-header-cell *matHeaderCellDef> Método de Referência </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeMetodoReferencia}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="situacao">
        <th mat-header-cell *matHeaderCellDef> Situação </th>
        <td mat-cell *matCellDef="let element"> {{element.situacao ? 'ATIVO': 'INATIVO'}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
  </form>
  
  
  