
.ajuste{

    margin-left: -65%;
}

.limpar{

    display: inline-block;
    margin-left: 70px;
}

.novo{

    display: inline-block;
    margin-left: 70px;
}

.container{

   width: 100%;
   margin-right: auto;
   margin-left: auto;   

}

table{

    width: 100%;
}
.wrapper_table{
    height:200px;
    overflow-y: auto;
} 